PORT=3000

UNITEDPAY_BASE_URL=https://console.apiunitedpay.net/dgateway

UNITEDPAY_MCH_NO=

UNITEDPAY_SIGN_KEY=

UNITEDPAY_ENC_KEY=

UNITEDPAY_CALLBACK_URL=https://r7dream.com

UNITEDPAY_NOTIFY_URL=https://unitedpay.rollix777.com/webhooks/unitedpay/payin

LOG_LEVEL=debug

NODE_ENV=development
